#header {
    text-align: center;
}

.header-image {
    height: 55%;
}

.header-image {
        background-image: url('../images/');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}